.group{
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.cogs1{
  animation: rotate-clockwise linear 3s infinite both;
  transform-origin: center;
  fill: currentColor;
}
.cogs2{
  animation: rotate-counterclockwise linear 3s infinite both;
  transform-origin: center;
  fill: currentColor;
}
@keyframes rotate-clockwise{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}
@keyframes rotate-counterclockwise {
  0%{
    transform: rotate(360deg);
  }

  100%{
    transform: rotate(0deg);
  }
}
