@import 'variables/navbar';
@import 'variables/components/arrow';

$width: 460px;
.dropdown{
  right: 2*$navbar-height;
  line-height: $line-height-base;
  width: 460px;
  max-width: 100vw;
  @media screen and (max-width: $screen-phone) {
    right: 2*$navbar-phone-height;
  }
}
.arrow{
  right: ($navbar-height / 2) - $arrow-size;
  // @media screen and (max-width: $screen-phone) {
  //   right: ($navbar-phone-height / 2) - $arrow-size;
  // }
}

.paddingWrap{
  text-align: center;
  padding: 50px 0;
}
.header{
  font-weight: bold;
  padding: $navbar-dropmenu-item-vertical $navbar-dropmenu-item-horizontal;
  line-height: $navbar-dropmenu-item-height;
  border-bottom: 1px solid $navbar-dropmenu-item-border;
}

$lh: 20px;
.table{
  // table-layout: fixed;
  width: 100%;
  line-height: $lh;
  th{
    font-size: $font-size-small;
    font-weight: bold;
    background-color: $color-hr;
  }
  td, th{
    padding: #{($navbar-dropmenu-item-height - $lh) / 2} $navbar-dropmenu-item-horizontal;
    border-bottom: 1px solid $navbar-dropmenu-item-border;
  }
}
.status{
  width: 1%;
  white-space: nowrap;
}
.zoneWithName{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 0.3*$width;
}
.name{
  width: 0.3*$width;
}
.job{
  width: auto;
}

.statusCell{
  text-align: center;
}

@media screen and (max-width: #{$width + 2*$navbar-height}) {
  .dropdown{
    right: 0;
  }
  .arrow{
    // 1px is 2*border-width / 2
    right: $navbar-height*2 + ($navbar-height / 2) - $arrow-size + 1px;
  }
}
@media screen and (max-width: $screen-phone) {
  .arrow{
    // 1px is 2*border-width / 2
    right: $navbar-phone-height*2 + ($navbar-phone-height / 2) - $arrow-size + 1px;
  }
}
