@import 'variables/zIndex';
@import 'variables/navbar';
@import 'variables/components/arrow';

.dropmenu{
  position: absolute;
  top: calc(100% + 1px); // show navbar border-bottom;

  z-index: $zindex-navbar;

  background-color: $navbar-dropmenu-bg;
  box-shadow: $navbar-dropmenu-boxshadow;
  font-size: $font-size-base;
}
.arrow{
  position: absolute;
  top: -$arrow-size;
  color: $navbar-dropmenu-bg;
}
.content{
  max-height: calc(100vh - #{$navbar-height});
  overflow: auto;
}
