@import 'variables/components/control';
.input{
  font-size: $font-size-base;
  padding: $control-base-padding-vertical $control-base-padding-horizontal;
  border: 1px solid #c3c8ce;
  flex: 1;
  border-radius: $control-radius-base;
}
