@import 'variables/base';
.list{
  display: block;
  >li{
    border-bottom: 1px solid $color-hr;
  }
}
.item{
  display: flex;
  align-items: center;
  // border-bottom: 1px solid $color-hr;
  &:hover{
    .actions{
      opacity: 1;
    }
  }
}
.thumail{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions{
  // opacity: 0;
  >li{
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
      &:after{
        content: '|';
        padding: 0px 5px;
        display: inline-block;
        vertical-align: middle;
        color: $link-color;
      }
    }
  }
}

.code{
  padding: 10px;
}
