@import 'variables/base';
.list{
  display: block;
  >li{
    border-bottom: 1px solid $color-hr;
  }
}
.item{
  display: flex;
  align-items: center;
  &:hover{
    background-color: $color-hover-bg;
  }
}
.desc{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions{
  >li{
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
      &:after{
        content: '|';
        padding: 0px 5px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
