@import 'variables/views/create';
.addr{
  width: 90%;
  max-width: 580px;
}
.actions{
  margin-top: $create-flow-config-action-spacing;
  >:global(.btn){
    margin-right: $create-flow-config-horizontal-padding;
    min-width: 100px;
  }
}
