// NOTE: These options are overriden by the babel-loader configuration
// for webpack, which can be found in ~/build/webpack.config.
//
{
  "plugins": [
    "babel-plugin-transform-class-properties",
    "babel-plugin-syntax-dynamic-import",
    "babel-plugin-transform-runtime",
    [
      "babel-plugin-transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "babel-plugin-transform-export-extensions"
  ],
  "presets": [
    "babel-preset-react",
    ["babel-preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "uglify": true
    }]
  ]
}
