@import 'variables/components/control';

@mixin icon-variant ($font-size, $padding) {
  font-size: $font-size;
  >:nth-child(2){
    margin-right: $padding;
  }
  >:last-child{
    margin-right: 0;
  }
}

.checkbox{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0px $padding-base-horizontal;
  height: $control-base-size;
  font-size: $font-size-base;

  @include icon-variant($font-size-base, $control-base-padding-horizontal);
  >:global(.checked){
    color: $checkbox-checked-color;
  }
  >:global(.unchecked){
    color: $checkbox-unchecked-color;
  }
  &:not(.readonly) {
    &:hover, &:global(.focus){
      >:global(.unchecked){
        color: $checkbox-checked-color;
      }
    }
  }
}

.readonly{
  cursor: default;
}
.sm{
  height: $control-sm-size;
  @include icon-variant($font-size-small, $control-sm-padding-horizontal);
}
.lg{
  height: $control-lg-size;
  @include icon-variant($font-size-large, $control-lg-padding-horizontal);
}
