@import 'variables/zIndex';
@import 'variables/components/control';
@mixin select-option ($font-size, $padding) {
  font-size: $font-size;
  .option{
    padding-left: $padding;
    padding-right: $padding;
  }
}

.select {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  font-size: $font-size-base;
  z-index: $zindex-select;
  width: $input-default-width;
}
.opened{
  z-index: $zindex-select-opened;
}
.input{
  cursor: pointer;
  width: 100%;
  >input[readonly] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: inherit;
  }
}

.dropdown{
  position: absolute;
  top: calc(100% + #{$select-dropdown-offset});
  background-color: #fff;
  left: 0px;
  width: 100%;
  max-height: 250px;
  overflow: auto;
  border: 1px solid $select-dropdown-border;
  box-shadow: $select-dropdown-boxshadow;
  border-radius: $select-dropdown-radius;
}

.options{
  margin: 0;
  padding: 0;
}

.option{
  display: block;
  line-height: $control-base-size;
  padding: 0px $control-base-padding-horizontal;
  cursor: pointer;
  &:hover, &:global(.focus) {
    background-color: $select-hovered-bg;
  }
  &.disabled{
    opacity: .25;
    cursor: not-allowed;
    background-color: transparent!important;
  }

  &.selected{
    color: $select-selected-color;
    background-color: $select-selected-bg;
    font-weight: $select-selected-font-weight;
    &:hover{
      background-color: $select-selected-bg;
    }
  }
}


// size
.sm{
  @include select-option($font-size-small, $control-sm-padding-horizontal);
}
.lg{
  @include select-option($font-size-large, $control-lg-padding-horizontal);
}

// notfound, loading
.notFound, .loading{
  @extend .option;
  cursor: default;
  line-height: inherit;
  padding-top: $control-base-padding-vertical;
  padding-bottom: $control-base-padding-vertical;
  &:hover{
    background-color: transparent;
  }
}
