@import 'variables/base';

.job{
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 2*$padding-base-vertical
    2*$padding-base-horizontal;
  border-bottom: 1px solid $color-hr;
  cursor: pointer;
  &:hover, &:focus{
    background-color: $color-hover-bg;
  }
}
.iconWrapper{
  flex: 0 0 140px;
  width: 140px;
  display: flex;
  align-items: center;
}
.icon{
  margin-right: 2*$padding-base-horizontal;
}
.info{
  flex: 1 1 auto;
  margin-right: 3*$padding-base-vertical;
  border-right: 1px solid $color-hr;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  >small{
    color: $color-muted;
  }
}
.detail{
  flex: 0 0 240px;
  width: 240px;
  display: flex;
  // flex-direction: column;
  font-size: $font-size-small;
  justify-content: space-between;
}
.itemCol{
  display: inline-block;
  width: 49%;
}
.item{
  display: flex;
  align-items: center;
  overflow: hidden;
  >span{
    overflow: hidden;
  }
}
.name{
  flex: 0 0 60px;
  color: $color-muted;
}
.value{
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.firstCol{
  .name{
    flex: 0 0 50px;
  }
}
