@import 'variables/base';
@import 'variables/modules/job';

$height: 50px;

@mixin header-color ($bgc) {
  background-color: $bgc;
}

.header{
  display: flex;
  align-items: center;
  color: #fff;
  height: $height;
  border-radius: $border-radius-base;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  margin-bottom: 2*$padding-base-horizontal;
  padding: 0px 1.5*$padding-base-horizontal;
  @include header-color($job-color-default); // default color
  &:global(.SUCCESS) {
    @include header-color($job-color-success);
  }
  &:global(.FAILURE) {
    @include header-color($job-color-failure);
  }
  &:global(.STOPPED){
    @include header-color($job-color-stopped);
  }
}
.icon{
  flex: 0 0 120px;
}
.list{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  >li{
    padding: 0px 1.5*$padding-base-horizontal;
    border-left: 1px solid;
  }
}
.actions{
  flex: 0 0 auto;
  >button{
    border-color: transparent;
  }
}
