@import 'variables';

$height: 50px;

@mixin header-color ($color) {
  background-color: $color;
}

.header{
  display: flex;
  align-items: center;
  color: #fff;
  height: $height;
  border-radius: $border-radius-base;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  margin-bottom: 2*$padding-base-horizontal;
  @include header-color($color-primary); // default color
  &:global(.SUCCESS) {
    @include header-color($color-success);
  }
  &:global(.ERROR) {
    @include header-color($color-danger);
  }
  &:global(.STOPPED){
    @include header-color($color-muted);
  }
  &:global(.CREATED), &:global(.SESSION_CREATING) {
    color: $color-muted;
  }
}
.icon{
  flex: 0 0 120px;
}
.list{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  >li{
    padding: 0px 1.5*$padding-base-horizontal;
    border-left: 1px solid;
  }
}
