@import 'variables/colors';
@import 'variables/base';
.tabs{
  display: flex;
  align-items: center;
}
.tab{
  padding: 0px 10px;
  color: $color-black;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  &:global(.active) {
    color: $color-primary;
  }
}
