@import 'variables';

.navs{
  margin-bottom: $admin-navtabs-horizontal-padding;
  font-size: $admin-content-single-navbar-font-size;
}
.scroller{
  overflow: auto;
}
.agents{
}
.status{
  width: 100px;
  text-align: center;
}
.actions{
  width: 200px;
  >:global(.btn-sm){
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
  }
  >button+button{
    margin-left: $admin-agents-actoins-button-spacing;
  }
}