@import 'variables/views/Admin/agents';

.navs{
  margin-bottom: $admin-navtabs-horizontal-padding;
  font-size: $admin-content-single-navbar-font-size;
}
.toolbars{
  margin-bottom: $admin-toolbar-vertical-padding;
}

.scroller{
  overflow: auto;
}
.agents{
}
.status{
  width: 100px;
  text-align: center;
}
.name{
  width: 150px;
}
.token{
  width: 170px;
}
.tokenWrapper{
  display: flex;
  align-items: center;
  >span{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    text-overflow: ellipsis;
  }
}
.copy{
  flex: 0 0 auto;
  border: none;
}
.actions{
  width: 200px;
  >:global(.btn-sm){
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
  }
  >button+button{
    margin-left: $admin-agents-actoins-button-spacing;
  }
}
