@import 'variables/navbar';

.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: $zindex-navbar;
  display: block;
  background-color: $navbar-default-bg;
  color: $navbar-default-color;
  border-bottom: 1px solid $navbar-default-border;
}

.logo{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: $navbar-default-color;
  @media screen and (max-width: $screen-phone) {
    display: none;
  }
}

