@import 'variables/base';

$tab-size: 40px;

@mixin tab-color($color) {
  border-color: $color;
  &:global(.active), &:hover {
    background-color: $color;
    color: #fff;
    .icon{
      color: #fff;
    }
  }
  .icon{
    color: $color;
  }
}

.tab{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $color-primary;
  border-radius: $border-radius-base;
  height: $tab-size;
  color: inherit;
  margin-bottom: $padding-base-horizontal;
  &:hover, &:focus{
    color: inherit;
  }
}
.icon{
  flex: 0 0 auto;
  width: $tab-size;
  text-align: center;
  font-size: 18px;
}
.ENQUEUE{

}
.SUCCESS{
  @include tab-color($color-success);
}
.FAILURE{
  @include tab-color($color-danger);
}
