@import 'variables';

.loading{
  padding: 10*$padding-base-vertical 0;
  text-align: center;
}

.header{
  height: 60px;
  background-color: $color-black;
  padding: $padding-base-vertical 2*$padding-base-horizontal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.status{
  display: inline-flex;
  align-items: center;
}
.report{
  // transform: translate(5px, -5px);
}
.icon{
  color: currentColor;
}
.question{
  font-size: 20px;
  cursor: pointer;
}
.actoins{
  >:global(.btn){
    border: none;
    background-color: #fff;
    font-weight: bold;
    color: $color-black;
    min-width: 9*$padding-base-vertical;
  }
}
.btn-stop{
  &:hover{
    color: #fff;
    background-color: $color-danger;
  }
}