@import 'variables/views/Admin/container';
.toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $admin-toolbar-vertical-padding;
}

.actions{
  margin-bottom: $admin-toolbar-vertical-padding;
  .action{
    margin-right: 2*$padding-base-horizontal;
    border-color: #d1dbe5;
  }
}
.group{
  display: inline-block;
  vertical-align: middle;
  .action{
    margin: 0 0 0 $padding-base-horizontal;
  }
}

// table
.checkbox{
  width: 34px;
  padding: 0px;
  text-align: center;
  >:global(.icon-user) {
    color: $color-muted;
  }
}
.username{
  width: 100px;
}
.email{
  width: 200px;
}
.flows{

}
.roles{

}
