@import 'variables/colors';

.container{
  margin: 20px 30px;
  border: 1px solid #d4dce3;
  border-radius: 3px;
  overflow: hidden;
}
.header{
  background-color: $color-black;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerText{
  margin-right: 10px;
  >:global(.icon) {
    font-size: 25px;
    margin-right: 10px;
  }
  a{
    color: #108ee9;
    cursor: pointer;
  }
}

.step{
  border: none;
  margin: 0px;
}
