@import './variables';
@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &.disabled,
  &[disabled] {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }
}

@mixin button-inverse-variant($color, $background) {
  color: $color;
  background-color: $background;
  border-color: $color;
  &:focus,
  &.focus,
  &:hover,
  &:active,
  &.active {
    color: $background;
    background-color: $color;
        border-color: $color;
  }
}

/*
  Button
*/

.btn{
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  font-size: $font-size-base;
  height: $control-base-size;

  background: none;
  border: 1px solid $control-border-base;
  border-radius: $border-radius-base;

  padding: $control-base-padding-vertical $control-base-padding-horizontal;
  &:active, &.active{
    outline: none;
  }
  &:hover, &:focus, &.active, &.focus{
    background-color: $btn-default-bg;
  }
}

.btn-block{
  display: block;
  width: 100%;
}

.btn-link{
  border-color: transparent;
  background-color: transparent;
  color: $link-color;
  &:focus,
  &.focus,
  &:hover,
  &:active,
  &.active {
    color: $link-hover-color;
    background-color: transparent;
  }
}


// colors
.btn-default{
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-success{
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

.btn-danger{
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

.btn-inverse{
  @include button-inverse-variant($btn-default-inverse-color, $btn-default-inverse-bg);
}

// Size
.btn-sm{
  font-size: $font-size-small;
  height: $control-sm-size;

  padding: $control-sm-padding-vertical $control-sm-padding-horizontal;
}
.btn-lg{
  font-size: $font-size-large;
  height: $control-lg-size;

  padding: $control-lg-padding-vertical $control-lg-padding-horizontal;
}
