// Colors
$color-danger: #E56065!default;
$color-success: #8BB73E!default;
$color-muted: #A2A8B1!default;
$color-primary: #575FB7!default;

$color-hr: #D4DCE3!default;
$color-black: #55575C!default;

$color-hover-bg: #EDEDED!default;

$body-bg: #fff!default;
$text-color: $color-black!default;


$link-color: #575FB7!default;
$link-hover-color: darken($link-color, 10%) !default;

$border-radius-base: 3px;

// Media
$screen-xs: 480px!default;
$screen-phone: $screen-xs!default;

$screen-sm: 768px!default;
$screen-tablet: $screen-sm!default;

$screen-md: 992px !default;
$screen-desktop: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-desktop: $screen-lg !default;

// FONT
$font-size-root: 100px!default; // use for rem, chrome default mini size is 10px

$font-size-base: 14px!default;
$font-size-large: ceil(($font-size-base * 1.14)) !default; // ~16px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: ceil(($font-size-base * 2)) !default; // 28px
$font-size-h3: ceil(($font-size-base * 1.85)) !default; // ~26px
$font-size-h4: ceil(($font-size-base * 1.14)) !default; // ~16px
$font-size-h5: $font-size-base!default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base: 1.29;
// $line-height-computed: 18px!default;
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~18px

$font-family-base:  'Helvetica Neue', 'PingFang SC', 'Open Sans', Helvetica, sans-serif!default;
// default fonts for <code>, <pre> .code
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

// Components

$padding-base-vertical: 10px!default;

$padding-base-horizontal: 10px!default;

// Layout
$layout-padding-vertical: 0!default;
$layout-padding-horizontal: 4*$padding-base-horizontal;

// Z-index
$zindex-navbar: 100!default;
$zindex-select: $zindex-navbar - 1;

// Arrow
$arrow-size: 6px!default;

// Control
$control-radius-base: $border-radius-base!default;

$control-sm-size: 22px!default;
$control-sm-padding-vertical: ($control-sm-size - floor($font-size-small * $line-height-base) - 2px)/2!default;
$control-sm-padding-horizontal: ($control-sm-size - $font-size-small - 2px)/2!default;

$control-base-size: 34px!default;
$control-base-padding-vertical: ($control-base-size - $line-height-computed - 2px)/2!default;
$control-base-padding-horizontal: ($control-base-size - $font-size-base - 2px)/2!default;

$control-lg-size: 40px!default;
$control-lg-padding-vertical: ($control-lg-size - floor($font-size-large * $line-height-base) - 2px)/2!default;
$control-lg-padding-horizontal: ($control-lg-size - $font-size-large - 2px)/2!default;

$control-border-base: $color-hr!default;
$control-base-boxshadow: 0 4px 15px 0px rgba(0,0,0, .15)!default;

// button
$btn-font-weight: bold!default;

$btn-default-color: $color-black!default;
$btn-default-bg: #fff!default;
$btn-default-border: $control-border-base!default;

$btn-primary-color: #fff!default;
$btn-primary-bg: #6668D3!default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-success-color: #fff!default;
$btn-success-bg: $color-success!default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-danger-color: #fff!default;
$btn-danger-bg: $color-danger!default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$btn-default-inverse-color: $color-black!default;
$btn-default-inverse-bg: #fff!default;

// input
$input-placeholder-color: $color-muted!default;
$input-border: #C3C8CE!default;
$input-bg-disabled: #eee!default;
$input-default-width: 200px!default;

// input checkbox
$checkbox-checked-color: $color-black!default;
$checkbox-unchecked-color: $color-muted!default;

// input checkbox
$radio-checked-color: $color-black!default;
$radio-unchecked-color: $color-muted!default;

// select
$select-hovered-bg: #ecf6fd!default;
$select-selected-color: $color-black!default;
$select-selected-bg: $color-hover-bg!default;
$select-selected-font-weight: bold!default;

$select-dropdown-offset: 5px!default;
$select-dropdown-radius: $border-radius-base!default;
$select-dropdown-border: $control-border-base!default;
$select-dropdown-boxshadow: $control-base-boxshadow;

// Navbar
$navbar-height: 60px!default;
$navbar-phone-height: 50px!default;

$navbar-default-bg: #F4F5F5!default;
$navbar-default-color: $text-color!default;
$navbar-default-border: $color-hr!default;

$navbar-inverse-bg: $text-color!default;
$navbar-inverse-color: #fff!default;

$navbar-base-padding-vertical: 0!default;
$navbar-base-padding-horizontal: 1.5*$padding-base-horizontal!default;

$navbar-brand-width: 140px;
$navbar-brand-arrow: 5px!default;
$navbar-brand-padding-vertical: $navbar-base-padding-vertical!default;
$navbar-brand-padding-horizontal: $navbar-base-padding-horizontal!default;

$navbar-dropmenu-bg: #fff!default;
$navbar-dropmenu-boxshadow: $control-base-boxshadow!default;

$navbar-dropmenu-arrow: 8px!default;
$navbar-dropmenu-width: 3*($navbar-height + 1px)!default;

$navbar-dropmenu-item-height: 40px!default;
$navbar-dropmenu-item-border: $color-hr;
$navbar-dropmenu-item-vertical: $navbar-base-padding-vertical!default;
$navbar-dropmenu-item-horizontal: $navbar-base-padding-horizontal!default;

// Footer
$footer-height: 60px!default;
$footer-line-height: 15px!default;
$footer-font-size: $font-size-small!default;

$footer-padding-base: floor(($footer-height - $footer-line-height) / 3)!default;
$footer-padding: $footer-padding-base 0 2*$footer-padding-base !default;
$footer-divier-padding: $footer-padding-base!default;

$footer-xs-padding: 10px 0 20px!default;
$footer-xs-divier-padding: 10px!default;

$footer-default-color: #676C72!default;
$footer-default-border: $color-hr!default;

// Build Guide

$build-guide-step-padding-vertical: 24px!default;
$build-guide-step-padding-bottom: 60px!default;

$build-guide-step-divider-width: 2px!default;
$build-guide-step-divider-color: #D4DCE3!default;

$build-guide-step-number-size: 36px!default;
$build-guide-step-number-font-szie: 20px!default;
$build-guide-step-number-font-weight: bold!default;
$build-guide-step-number-bg: $color-primary!default;
$build-guide-step-number-color: #fff!default;
$build-guide-step-number-left-abs-offset: ($build-guide-step-number-size
    + $build-guide-step-divider-width)/2!default;

$build-guide-thumbnail-border-radius: 5px!default;
$build-guide-thumbnail-width: 260px!default;
$build-guide-thumbnail-height: 170px!default;

$build-guide-step-margin-left: $build-guide-thumbnail-width
  + $build-guide-step-padding-vertical
  + $build-guide-step-number-left-abs-offset!default;

$build-guide-list-disc-size: 8px!default;
$build-guide-list-disc-bg: #676C72!default;

// Create Flow
$create-flow-step-color: $color-black!default;
$create-flow-step-bgc: #fff!default;
$create-flow-step-border-color: $color-hr;

$create-flow-step-spacing: 4*$padding-base-vertical;

$create-flow-step-border-raduis: $border-radius-base!default;
$create-flow-step-boxshadow: $control-base-boxshadow!default;

$create-flow-step-header-height: 60px!default;
$create-flow-step-header-vertical-padding: 1.5*$padding-base-vertical!default;
$create-flow-step-header-horizontal-padding: 2*$padding-base-horizontal!default;
$create-flow-step-header-color: #fff!default;
$create-flow-step-header-bgc: #C3C8CE!default;

$create-flow-step-header-active-bgc: #6668D3!default;
$create-flow-step-header-active-color: $create-flow-step-header-color!default;

$create-flow-step-icon-font-size: 25px!default;
$create-flow-step-icon-size: 60px!default;
$create-flow-step-icon-boxshadow: $control-base-boxshadow!default;
$create-flow-step-icon-padding-left: 4*$padding-base-horizontal;

$create-flow-step-cable-color: #C3C8CE!default;

$create-flow-title-color: $color-black!default;
$create-flow-subtitle-color: #8B8C9B!default;
$create-flow-subtitle-font-weight: normal!default;

$create-flow-well-border: #A7ABB1!default;
$create-flow-well-border-radius: $border-radius-base!default;
$create-flow-well-vertical-padding: 1.5*$padding-base-vertical!default;
$create-flow-well-icon-size: 26px!default;
$create-flow-well-color: $create-flow-title-color!default;
$create-flow-well-subtitle-color: $create-flow-subtitle-color!default;

$create-flow-well-active-bgc: #F8F7FE!default;
$create-flow-well-active-border: #9FA0D8!default;
$create-flow-well-active-color: #6668D3!default;

$create-flow-wrapper-vertical-padding: 3*$padding-base-vertical!default;
$create-flow-wrapper-horizontal-padding: 4*$padding-base-horizontal!default;

// Create Flow Config
$create-flow-config-navbar-border: $color-black!default;
$create-flow-config-navbar-bottom: 3*$padding-base-vertical!default;
$create-flow-config-navbar-font-size: 18px!default;
$create-flow-config-navbar-font-weight: bold!default;
$create-flow-config-navbar-color: #AEB7BE!default;
$create-flow-config-navbar-active-color: $color-black!default;
$create-flow-config-navbar-item-horizontal-padding: $padding-base-horizontal!default;
// Create Flow SSH/HTTP Config
$create-flow-config-code-bgc: #EDEFF1!default;
$create-flow-config-code-border-radius: $border-radius-base!default;
$create-flow-config-copy-color: $create-flow-well-active-color!default;

$create-flow-config-section-vertical-padding: 2*$padding-base-vertical!default;
$create-flow-config-vertical-padding: $padding-base-vertical!default;
$create-flow-config-horizontal-padding: $padding-base-horizontal!default;
$create-flow-config-action-spacing: 3*$create-flow-config-vertical-padding!default;



