@import "./iconVariables.scss";

@font-face {
  font-family: 'flowci';
  src:
    url('#{$icomoon-font-path}/flowci.ttf?n7zp95') format('truetype'),
    url('#{$icomoon-font-path}/flowci.woff?n7zp95') format('woff'),
    url('#{$icomoon-font-path}/flowci.svg?n7zp95#flowci') format('svg');
  font-weight: normal;
  font-style: normal;
}
