$icomoon-font-path: "fonts" !default;

$icon-trash: "\e91b";
$icon-trash2: "\e91c";
$icon-pending: "\e91e";
$icon-timeout: "\e91a";
$icon-stopped: "\e93a";
$icon-failure: "\e947";
$icon-running: "\e949";
$icon-check: "\e904";
$icon-cross: "\ea0f";
$icon-logo: "\e907";
$icon-bookmark: "\e916";
$icon-jigsaw: "\e917";
$icon-notification: "\e918";
$icon-users: "\e919";
$icon-question-thin: "\e914";
$icon-plus-sm: "\e913";
$icon-equalizer: "\e90d";
$icon-git-branch: "\e90e";
$icon-layergroup: "\e90f";
$icon-off: "\e910";
$icon-code: "\e912";
$icon-loading2: "\e64d";
$icon-radio-checked: "\e39e";
$icon-radio-unchecked: "\e836";
$icon-circle-check: "\e934";
$icon-search2: "\e911";
$icon-search: "\e90c";
$icon-arrow-down: "\e313";
$icon-arrow-left: "\e314";
$icon-arrow-right: "\e315";
$icon-arrow-up: "\e316";
$icon-key: "\e900";
$icon-user: "\e901";
$icon-add_circle: "\e147";
$icon-control_point: "\e3ba";
$icon-agents: "\e902";
$icon-branches: "\e903";
$icon-checkbox-checked: "\e905";
$icon-checkbox-unchecked: "\e906";
$icon-logout: "\e908";
$icon-question: "\e909";
$icon-settings: "\e90a";
$icon-warning: "\e90b";

