@import 'variables/views/Admin/flows';
.toolbar{
  margin-bottom: $admin-toolbar-vertical-padding;
}

.panel{
  border: 1px solid $admin-flows-member-border;
  border-radius: $admin-flows-member-border-radius;
  display: flex;
  align-items: stretch;
  min-height: 50vh;
}

.panelBody{
  flex: 1;
  padding: $admin-toolbar-vertical-padding;
}
