@import 'variables/base';

.container{
  padding: 2*$padding-base-vertical
    2*$padding-base-horizontal;
  margin-bottom: 4*$padding-base-horizontal;
}

.content{
  border: 1px solid $color-hr;
  border-radius: $border-radius-base;
}
