@import 'variables/colors';
.form{
  margin-top: 15px;
}
.table{
  width: 100%;
  margin-bottom: -1px;
  td{
    line-height: 20px;
    padding: 15px 30px;
    border-bottom: 1px solid $color-hr;
    white-space: nowrap;
    &:first-child{
      width: 1%;
    }
  }
}
