$thickness: 2px;
$color: #C3C8CE;

.group{
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  color: $color;
  margin: 0px 6px;
}

.arrow{
  border: $thickness solid;
  border-bottom: none;
  border-left: none;
  position: absolute;
  right: 0px;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: rotate(45deg);
}
.line{
  border: none;
  border-bottom: $thickness solid;
  width: 50px;
}
