@import 'variables/views/create';
@import 'variables/components/control';
.text{
  font-weight: bold;
  height: $control-base-size;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  >:global(.icon) {
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
  }
}
.loading{
  display: inline-block;
  animation: rotating linear 1s infinite;
}

@keyframes rotating {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
