@import 'variables/colors';
.confirm{
  width: 300px;
}
.header{
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}
.body{
  flex: 1;
  overflow: auto;
  padding: 10px;
}

.footer{
  flex: 0 0 auto;
  padding: 10px;
  text-align: right;
  button + button {
    margin-left: 5px;
  }
}
