@import 'variables/colors';
.header{
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid $color-hr;
}
.body{
  flex: 1;
  overflow: auto;
  padding: 10px;
}

.close{
  color: $color-muted;
  &:hover{
    color: $color-black;
  }
}
.footer{
  border-top: 1px solid $color-hr;
  flex: 0 0 auto;
  padding: 10px;
  text-align: right;
}
