.item {
  display: flex;
  align-items: baseline;
}
.label {
  flex: 0 0 auto;
  margin-right: 20px;
  text-align: right;
}
.control {
  flex: 1;
}

.field {
  display: inline-flex;
  vertical-align: baseline;
  flex-direction: column;
  margin-bottom: 20px;
  &:global(.invalid), &:global(.extra) {
    margin-bottom: 0;
  }
}
.error, .extra {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  -webkit-font-smoothing: auto;
  min-height: 16px;
}
.error {
  color: #E56065;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

