@import 'variables/colors';
@import 'variables/base';

.artifacts{
  margin-bottom: 20px;
}
.artifact{
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-hr;
  padding: 20px 30px;
}
.name{
  font-weight: 600;
  font-size: $font-size-large;
}
.qrcode{
  margin-right: 20px;
  font-size: 0px;
  flex: 0 0 auto;
  >i {
    font-size: 35px;
  }
}
