@import 'variables/colors';
$tab-height: 50px;
$tab-active-border-width: 3px;
.tabs{
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-hr;
}

.tab{
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  font-weight: bold;
  color: $color-muted;
  line-height: $tab-height - $tab-active-border-width;
  border-bottom: $tab-active-border-width solid transparent;
  border-right: 1px solid $color-hr;
  margin-bottom: -1px;
  &:hover, &:focus{
    color: $color-black;
  }
}
.active{
  border-bottom-color: $color-black;
  color: $color-black;
}
