@import 'variables/views/create';

.wall{
  display: flex;
  align-items: center;
  border: 1px solid $create-flow-well-border;
  border-radius: $create-flow-well-border-radius;
  padding: $create-flow-well-vertical-padding 0;
  cursor: pointer;
  color: $create-flow-well-color;
  &:hover, &.active{
    background-color: $create-flow-well-active-bgc;
    border-color: $create-flow-well-active-border;
    color: $create-flow-well-active-color;
    .subTitle{
      color: currentColor;
    }
  }
}

.icon{
  flex: 0 0 75px;
  text-align: center;
  font-size: $create-flow-well-icon-size;
}
.wrapper{
  flex: 1 1 auto;
}

.subTitle{
  color: $create-flow-well-subtitle-color;
}
