@import 'variables';

$toggle-circle-margin: 4px;

@mixin toggle-circle-size ($toggleSize) {
  width: $toggleSize;
  height: $toggleSize;
}

@mixin toggle-size ($height, $font-size) {
  font-size: $font-size;
  height: $height;
  line-height: $height;
  border-radius: $height/2;
  >span{
    width: $height;
  }
  .circle{
    @include toggle-circle-size($height);
  }
  &.on{
    .circle{
      left: $height;
    }
  }
}

.toggle{
  display: inline-block;
  position: relative;
  transition: background-color .3s;
  color: #fff;
  cursor: pointer;
  top: 0px;
  @include toggle-size($control-base-size, $font-size-base);
}
.circle{
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  transition: left .3s;
  z-index: 1;
  padding: $toggle-circle-margin;
  background-color: #fff;
  background-clip: content-box;
}
.onLabel, .offLabel{
  display: inline-block;
  text-align: center;
  pointer-events: none;
  user-select: none;
  opacity: 1;
  transition: opactiy .3s;
}
.on{
  background-color: #F8BA0B;
  .offLabel{
    opacity: 0;
  }
}
.off{
  background-color: $color-black;
  .onLabel{
    opacity: 0;
  }
  .circle{
    left: 0px;
  }
}
.lg{
  @include toggle-size($control-lg-size, $font-size-large);
}
.sm{
  @include toggle-size($control-sm-size, $font-size-small);
}