@import 'variables/colors';
.container {
  padding: 30px 40px 40px;
}
.editorwrap{
  border: 1px solid $color-hr;
  border-radius: 3px;
  margin-bottom: 10px;
  overflow: hidden;
}

.header{
  background-color: #fafbfc;
  border-bottom: 1px solid lighten($color-hr, 5%);
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
}
.editor{
  background-color: #fff;
  color: $color-black;
  border: none;
}

.save{
  background-color: $color-primary;
  color: #fff;
  min-width: 100px;
  margin-bottom: 10px;
  &:hover, &:focus{
    background-color: darken($color-primary, 10%);
    color: #fff;
  }
}
