@import 'variables/colors';
.container {
  padding: 0px;
}

.header{
  background-color: #fff;
  // border-bottom: 1px solid #d4dce3;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
}
.save{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}
