@import 'variables/base';
.form{
  padding: 20px 0px;
  width: 100%;
  input{
    font-size: $font-size-base;
  }
  button{
    padding-left: 2*$padding-base-horizontal;
    padding-right: 2*$padding-base-horizontal;
  }
  td{
    padding: 5px 10px;
    vertical-align: middle;
  }
}
.name{
  text-align: right;
  font-weight: bold;
  // font-weight: bold;
}
.input{
  width: 300px;
}
