@import 'variables/views/create';
.code{
  background-color: $create-flow-config-code-bgc;
  border-radius: $border-radius-base;
  padding: $create-flow-config-vertical-padding $create-flow-config-horizontal-padding;
  line-height: 20px;
}
.copy{
  margin-left: $create-flow-config-horizontal-padding;
  padding: 0px $create-flow-config-horizontal-padding;
  height: auto;
  border: none;
  color: $create-flow-config-copy-color;
  vertical-align: top;
  &:hover{
    background: none;
    color: darken($create-flow-config-copy-color, 10%);
  }
}
