// Colors
$color-danger: #E56065!default;
$color-success: #8BB73E!default;
$color-muted: #A2A8B1!default;
$color-primary: #575FB7!default;

$color-hr: #D4DCE3!default;
$color-black: #55575C!default;

$color-hover-bg: #EDEDED!default;

$body-bg: #fff!default;
$text-color: $color-black!default;

$link-color: #575FB7!default;
$link-hover-color: darken($link-color, 10%) !default;

// Media
$screen-xs: 480px!default;
$screen-phone: $screen-xs!default;

$screen-sm: 768px!default;
$screen-tablet: $screen-sm!default;

$screen-md: 992px !default;
$screen-desktop: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-desktop: $screen-lg !default;

// FONT
$font-size-root: 100px!default; // use for rem, chrome default mini size is 10px

$font-size-base: 14px!default;
$font-size-large: ceil(($font-size-base * 1.14)) !default; // ~16px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2: ceil(($font-size-base * 2)) !default; // 28px
$font-size-h3: ceil(($font-size-base * 1.85)) !default; // ~26px
$font-size-h4: ceil(($font-size-base * 1.14)) !default; // ~16px
$font-size-h5: $font-size-base!default;
$font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base: 1.29;
// $line-height-computed: 18px!default;
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~18px

$font-family-base:  'Helvetica Neue', 'PingFang SC', 'Open Sans', Helvetica, sans-serif!default;
// default fonts for <code>, <pre> .code
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$border-radius-base: 3px;
$base-boxshadow: 0 4px 15px 0px rgba(0,0,0, .15)!default;

$padding-base-vertical: 10px!default;
$padding-base-horizontal: 10px!default;

$layout-padding-vertical: 0!default;
$layout-padding-horizontal: 4*$padding-base-horizontal;
