// Colors
$color-danger: #E56065!default;
$color-success: #8BB73E!default;
$color-muted: #A2A8B1!default;
$color-primary: #575FB7!default;

$color-hr: #D4DCE3!default;
$color-black: #55575C!default;

$color-hover-bg: #EDEDED!default;

$body-bg: #fff!default;
$text-color: $color-black!default;

$link-color: #6668D3!default;
$link-hover-color: darken($link-color, 10%) !default;
