// Media
$screen-xs: 480px!default;
$screen-phone: $screen-xs!default;

$screen-sm: 768px!default;
$screen-tablet: $screen-sm!default;

$screen-md: 992px !default;
$screen-desktop: $screen-md !default;

$screen-lg: 1200px !default;
$screen-lg-desktop: $screen-lg !default;
