// Navbar
$navbar-height: 60px!default;
$navbar-phone-height: 50px!default;

$navbar-font-weight: bold!default;

$navbar-default-bg: #F4F5F5!default;
$navbar-default-color: $text-color!default;
$navbar-default-border: $color-hr!default;

$navbar-inverse-bg: $text-color!default;
$navbar-inverse-color: #fff!default;

$navbar-base-padding-vertical: 0!default;
$navbar-base-padding-horizontal: 1.5*$padding-base-horizontal!default;

$navbar-brand-width: 140px;
$navbar-brand-arrow: 5px!default;
$navbar-brand-padding-vertical: $navbar-base-padding-vertical!default;
$navbar-brand-padding-horizontal: $navbar-base-padding-horizontal!default;

$navbar-dropmenu-bg: #fff!default;
$navbar-dropmenu-boxshadow: $base-boxshadow!default;

$navbar-dropmenu-arrow: 8px!default;
$navbar-dropmenu-width: 3*($navbar-height + 1px)!default;

$navbar-dropmenu-item-height: 40px!default;
$navbar-dropmenu-item-border: $color-hr;
$navbar-dropmenu-item-vertical: $navbar-base-padding-vertical!default;
$navbar-dropmenu-item-horizontal: $navbar-base-padding-horizontal!default;

// NavTabs
$navtabs-default-height: 40px!default;
$navtabs-default-border: $color-black!default;
$navtabs-default-border-width: 4px!default;
$navtabs-default-bottom: 3*$padding-base-vertical!default;
$navtabs-default-font-size: 16px!default;
$navtabs-default-font-weight: bold!default;
$navtabs-default-color: #AEB7BE!default;
$navtabs-default-active-color: $color-black!default;
$navtabs-default-item-horizontal-padding: $padding-base-horizontal!default;
