@import 'variables';

@mixin icon-wrapper ($size) {
  height: $size;
  .left, .right{
    width: $size;
  }
}

@mixin group-padding ($padding) {
  padding: 0 $padding;
  .left{
    margin-left: -$padding;
  }
  .right{
    margin-right: -$padding;
  }
}

.wrapper{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  border: 1px solid $input-border;
  border-radius: $border-radius-base;

  font-size: $font-size-base;
  height: $control-base-size;
  width: $input-default-width;

  >input{
    border: none;
    height: auto;
    background-color: transparent;
    flex: 1 1 auto;
    width: 0;
  }
  >:global(.divider){
    flex: 0 0 1px;
    height: 50%;
    border-right: 1px solid $input-border;
  }
  &:global(.focus){
    box-shadow: 0 0 8px rgba(82,168,236,.6);
  }
  &:global(.disabled) {
    cursor: not-allowed;
    background-color: $input-bg-disabled;
  }
}

.left, .right{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 0 0 auto;
  width: $control-base-size;
}

.lg{
  font-size: $font-size-large;
  @include icon-wrapper($control-lg-size);
}

.sm{
  font-size: $font-size-small;
  @include icon-wrapper($control-sm-size);
}

.noDivider{
  >input{
    padding-left: 0px;
    padding-right: 0px;
  }
  @include group-padding($control-base-padding-horizontal)
  &.lg{
    @include group-padding($control-lg-padding-horizontal);
  }
  &.sm{
    @include group-padding($control-sm-padding-horizontal);
  }
}
