@import 'variables';
@mixin icon-wrapper ($font-size, $size) {
  font-size: $font-size;
  height: $size;
  .left, .right{
    width: $size;
  }
}

@mixin group-padding ($padding) {
  padding: 0 $padding;
  .left{
    margin-left: -$padding;
  }
  .right{
    margin-right: -$padding;
  }
}

.wrapper{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  border: 1px solid $input-border;
  border-radius: $border-radius-base;

  font-size: $font-size-base;
  height: $control-base-size;
  width: $input-default-width;

  >input{
    border: none;
    height: 100%;
    background-color: transparent;
    flex: 1 1 auto;
    width: 0;
  }
  &:global(.focus){
    box-shadow: 0 0 8px rgba(82,168,236,.6);
  }
  &:global(.block) {
    display: flex;
    width: 100%;
  }
}
.disabled {
  cursor: not-allowed;
  background-color: $input-bg-disabled;
}
.divider{
  flex: 0 0 1px;
  height: 50%;
  border-right: 1px solid $input-border;
}

.left, .right{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 0 0 auto;
  width: $control-base-size;
}
.hg{
  @include icon-wrapper(20px, 50px);
}
.lg{
  @include icon-wrapper($font-size-large, $control-lg-size);
}

.sm{
  @include icon-wrapper($font-size-small, $control-sm-size);
}

.noDivider{
  >input{
    padding-left: 0px;
    padding-right: 0px;
  }
  @include group-padding($control-base-padding-horizontal);
  &.lg{
    @include group-padding($control-lg-padding-horizontal);
  }
  &.sm{
    @include group-padding($control-sm-padding-horizontal);
  }
}
