@import 'variables';
.navbar{
  margin: 0;
  padding: 0;
  font-weight: $admin-menus-font-weight;
  >li{
    &:not(:last-child) {
      border-bottom: 1px solid $admin-menus-divier;
    }
  }
}
.nav{
  line-height: $admin-menus-height;
  color: $admin-menus-color;
  background-color: $admin-menus-bgc;
  display: flex;
  align-item: center;
  &:hover, &:focus{
    background-color: $admin-menus-hover-bgc;
    color: $admin-menus-hover-color;
  }
}
.icon{
  flex: 0 0 $admin-menus-height;
  margin-right: $admin-menus-icon-horizontal-padding;
  text-align: center;
  font-size: $admin-menus-icon-font-size;
}
.active, .active:hover, .active:focus{
  position: relative;
  background-color: $admin-menus-active-bgc;
  color: $admin-menus-active-color;
  &:after{
    content: ' ';
    display: inline-block;
    border-left: $admin-menus-arraw-horizontal-size solid #fff;
    border-top: $admin-menus-arraw-vertical-size/2 solid transparent;
    border-bottom: $admin-menus-arraw-vertical-size/2 solid transparent;
    position: absolute;
    right: 15px;
    top: ($admin-menus-height - $admin-menus-arraw-vertical-size) / 2;
  }
}
