@import 'variables';
.container{
  margin-top: $navbar-height + 1px;
  padding: $layout-padding-vertical $layout-padding-horizontal;
  @media screen and (max-width: $screen-phone) {
    margin-top: $navbar-phone-height + 1px;
  }
}
