@import 'variables';
.container{
  padding-top: $navbar-height + 1px;
  padding-bottom: $footer-height + 1px;
  @media screen and (max-width: $screen-phone) {
    padding-top: $navbar-phone-height + 1px;
  }
}
