@import 'variables';
.container{
  padding: $admin-vertical-padding $admin-horizontal-padding;
  display: flex;
  align-items: flex-start;
}
.navbar{
  margin: $admin-navbar-vertical-padding $admin-navbar-horizontal-padding;
  flex: 0 0 auto;
  width: $admin-navbar-width;
  border: 1px solid $admin-navbar-border;
  box-shadow: $admin-navbar-base-boxshadow;
  border-radius: $admin-navbar-border-radius;
}
.content{
  flex: 1 1 auto;
  margin-right: 10vw;
}