@import 'variables/views/Admin/container';
.container{
  padding: $admin-vertical-padding $admin-horizontal-padding;
  display: flex;
  align-items: flex-start;
}
.navbar{
  margin: $admin-menus-vertical-padding $admin-menus-horizontal-padding;
  flex: 0 0 auto;
  width: $admin-menus-width;
  border: 1px solid $admin-menus-border;
  box-shadow: $admin-menus-base-boxshadow;
  border-radius: $admin-menus-border-radius;
}
.content{
  flex: 1 1 auto;
  // overflow: hidden;
  margin-right: 10vw;
  margin-left: $admin-content-horizontal-padding;
}
