@import 'variables/modules/node';

@mixin icon-colored ($color) {
  @if $color != $node-color-default {
    color: $color;
  }
}

.icon{
  line-height: 1;
  width: 1em;
  height: 1em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  >:global(.icon) {
    display: inline-block;
  }
  >:global(.icon-running) {
    animation: rotating linear 1.5s infinite;
  }
}
.colored{
  >:global(.icon) {
    color: $node-color-default;
  }
  >:global(.icon-running) {
    @include icon-colored($node-color-running);
  }
  >:global(.icon-check) {
    @include icon-colored($node-color-success);
  }
  >:global(.icon-failure) {
    @include icon-colored($node-color-failure);
  }
  >:global(.icon-stopped){
    @include icon-colored($node-color-stopped);
  }
  >:global(.icon-timeout){
    @include icon-colored($node-color-timeout);
  }
}
@keyframes rotating {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
