@import './variables/_button.scss';
@import './mixins/_button.scss';

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn{
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  // size
  @include button-size($btn-size, $btn-padding-horizontal, $btn-border-radius);

  // reset
  box-shadow: none;
  outline: none;
  background-image: none;
  border: $btn-border-width solid;

  // colors
  @include button-variant($btn-color, $btn-bgc, $btn-border-color);
  &:hover, &:focus{
    border-color: $btn-default-hover-border-color;
    color: $btn-default-hover-color;
  }
  &:active{
    background-color: $btn-default-active-bgc;
    border-color: $btn-default-active-border-color;
    color: $btn-default-active-color;
  }
  &.plain {
    &:hover,
    &:focus {
      background-color: $btn-default-plain-hover-bgc;
      border-color: $btn-default-plain-hover-bgc;
      color: $btn-default-plain-hover-color;
    }
    &:active{
      background-color: darken($btn-default-plain-hover-bgc, $btn-darken-percent);
      border-color: darken($btn-default-plain-hover-bgc, $btn-darken-percent);
    }
  }

  // disabled„ÄÅloading
  &:global(.disabled) {
    @include button-disabled();
  }
  &:global(.loading) {
    @include button-loading();
  }
  :global(.icon-loading) {
    animation: rotating linear 1s infinite;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

// colors
.primary {
  @include button-variant($btn-primary-color, $btn-primary-bgc, $btn-primary-border-color);
}
.secondary{
  @include button-variant($btn-secondary-color, $btn-secondary-bgc, $btn-secondary-border-color);
}
.danger{
  @include button-variant($btn-danger-color, $btn-danger-bgc, $btn-danger-border-color);
}
.success {
  @include button-variant($btn-success-color, $btn-success-bgc, $btn-success-border-color);
}
.warning {
  @include button-variant($btn-warning-color, $btn-warning-bgc, $btn-warning-border-color);
}
.text{
  // like <a></a>
  border: none;
  color: $btn-text-color;
  &:hover, &:focus{
    border-color: transparent;
    color: lighten($btn-text-color, 10%);
  }
  &:active, &:visited{
    border-color: transparent;
    color: darken($btn-text-color, 10%);
  }
  &:global(.disabled){
    background: none!important;
  }
}

// icon
.left{
  margin-right: .5em;
  display: inline-block;
  align-self: baseline;
  width: 1em;
  height: 1em;
}

.right{
  margin-left: .5em;
  display: inline-block;
  align-self: baseline;
  width: 1em;
  height: 1em;
}

// size
.xs{
  font-size: $btn-xs-font-size;
  @include button-size($btn-xs-size, $btn-xs-padding-horizontal, $btn-border-radius);
}
.sm{
  font-size: $btn-sm-font-size;
  @include button-size($btn-sm-size, $btn-sm-padding-horizontal, $btn-border-radius);
}
.lg{
  font-size: $btn-lg-font-size;
  @include button-size($btn-lg-size, $btn-lg-padding-horizontal, $btn-border-radius);
}
