@import './variables/_input.scss';
@import './mixins/_input.scss';

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper{
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  font-size: $input-font-size;
  width: 300px;
  :global(.icon-loading) {
    animation: rotating linear 1s infinite;
  }
}
.input{
  box-sizing: border-box;
  width: 100%;
  border: $input-border-width solid $input-border-color;
  font-size: 1em;

  // 如果不加 relative 在某些情况下 focus 时的 box-shaodw 显示不了
  // 如 <Input placehodler='xx' /> 在 chrome 下 focus 时会盖住 box-shadow
  position: relative;
  // window 下 chrome 默认白色背景
  background-color: #fff;
  outline: none;
  @include input-size($input-size, $input-padding-vertical,
    $input-padding-horizontal, $input-radius);

  &:hover, &:focus{
    border-color: $input-hover-border-color;
  }
  &:focus{
    box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
  }
  &.has-left{
    padding-left: $input-size - $input-border-width;
  }
  &.has-right{
    padding-right: $input-size - $input-border-width;
  }

  &:global(.readonly) {
    cursor: default;
    color: $input-readonly-color;
    background-color: $input-readonly-bgc;
    border-color: $input-readonly-border-color;
    &:hover, &:focus{
      border-color: $input-hover-border-color;
    }
  }
  &:global(.invalid) {
    color: $input-invalid-color;

    border-color: $input-invalid-border-color;

    &:hover, &:focus{
      border-color: $input-invalid-border-color;
    }
    &:focus{
      box-shadow: 0 0 0 2px rgba(240,65,52,.2);
    }
  }
  &:global(.disabled) {
    cursor: not-allowed!important;
    color: $input-disabled-color!important;
    background-color: $input-disabled-bgc!important;
    border-color: $input-disabled-border-color!important;
    box-shadow: none;
  }
}

// icon
%icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  bottom: 0px;
  color: $input-icon-color;
  z-index: 1;
  width: $input-size;
}
.left{
  @extend %icon;
  left: 0px;
}
.right{
  @extend %icon;
  right: 0px;
}

// size
.xs{
  font-size: $input-xs-font-size;
  @include input-size($input-xs-size, 0,
    $input-xs-padding-horizontal, $input-radius);
}
.sm{
  font-size: $input-sm-font-size;
  @include input-size($input-sm-size, 0,
   $input-sm-padding-horizontal, $input-radius);
}
.lg{
  font-size: $input-lg-font-size;
  @include input-size($input-lg-size, 0,
    $input-lg-padding-horizontal, $input-radius);
}
