@import 'variables/colors';
.panel {
  margin: 20px 30px;
  border: 1px solid $color-hr;
  border-radius: 3px;
  background-color: #fafbfc;
}
.header{
  padding: 20px;
}
.title{
  font-size: 18px;
}

.subTitle{
  color: $color-muted;
}
.stepHeader{
  padding: 0px 20px;
}
