.wrap{
  display: inline-block;
  animation: wrapRotate linear 1.5s infinite;
}
@keyframes wrapRotate {
  0% {
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// @function pi() {
//   @return 3.14159265359;
// }

// $size: 18.5;
// $diameter: 2*$size*pi();
// .circle{
//   // stroke-dasharray:  3 $diameter;
//   // stroke-dashoffset: 0;
//   // animation: circleRotate ease-in-out 1.5s infinite;
// }

// @keyframes circleRotate {
//   0% {
//     stroke-dasharray:  3 $diameter;
//     stroke-dashoffset: 0;
//   }
//   5%{
//     stroke-dasharray:  3 $diameter;
//     stroke-dashoffset: 0;
//   }
//   45% {
//     stroke-dasharray:  0.7*$diameter $diameter;
//     stroke-dashoffset: -0.3*$diameter;
//   }
//   55%{
//     stroke-dasharray:  0.7*$diameter $diameter;
//     stroke-dashoffset: -0.3*$diameter;
//   }
//   100% {
//     stroke-dasharray:  0.7*$diameter $diameter;
//     stroke-dashoffset: 3-$diameter;
//   }
// }