@import './_container.scss';

// Admin Flow List
$admin-flows-list-copy-color: #6668D3!default;

// Admin Flow Members
$admin-flows-member-border: #D7D9DC!default;
$admin-flows-member-border-radius: $border-radius-base!default;
$admin-flows-member-menus-bgc: #F3F6F7!default;

$admin-flows-member-menus-arrow-width: $admin-menus-arraw-width!default;
$admin-flows-member-menus-arrow-height: $admin-menus-arraw-height!default;

$admin-flows-member-menus-item-height: 40px!default;
$admin-flows-member-menus-horizontal-padding: 1.5*$padding-base-horizontal!default;
