$color-primary: #575fb7;

$btn-border-radius: 3px!default;
$btn-font-weight: normal!default;

// hover, focus lighten percent
$btn-lighten-percent: 10%!default;
$btn-darken-percent: 10%!default;

// size
// xs
$btn-xs-font-size: 12px!default;
$btn-xs-size: 20px!default;
$btn-xs-padding-horizontal: 4px!default;

// sm
$btn-sm-font-size: 12px!default;
$btn-sm-size: 28px!default;
$btn-sm-padding-horizontal: 9px!default;

// default
$btn-font-size: 14px!default;
$btn-size: 34px!default;
$btn-padding-horizontal: 12px!default;

// lg
$btn-lg-font-size: 16px!default;
$btn-lg-size: 40px!default;
$btn-lg-padding-horizontal: 16px!default;

// default colors
$btn-color: #55575C!default;
$btn-bgc: #fff!default;
$btn-border-width: 1px!default;
$btn-border-color: #c4c4c4!default;

$btn-default-hover-color: #6668D3!default;
$btn-default-hover-border-color: $btn-default-hover-color!default;

$btn-default-active-color: darken(#6668D3, 10%)!default;
$btn-default-active-bgc: #fff!default;
$btn-default-active-border-color: $btn-default-active-color!default;

$btn-default-plain-hover-color: #fff!default;
$btn-default-plain-hover-bgc: #108ee9!default;
$btn-default-plain-hover-border-color: $btn-default-plain-hover-bgc!default;

// plain
$btn-plain-color: #55575C!default;
$btn-plain-border-color: $btn-plain-color!default;
$btn-plain-bgc: #fff!default;

// primary
$btn-primary-color: #fff!default;
$btn-primary-bgc: $color-primary!default;
$btn-primary-border-color: $btn-primary-bgc!default;

// secondary
$btn-secondary-color: #fff!default;
$btn-secondary-bgc: #55575C!default;
$btn-secondary-border-color: $btn-secondary-bgc!default;

// danger
$btn-danger-color: #fff!default;
$btn-danger-bgc: #E56065!default;
$btn-danger-border-color: $btn-danger-bgc!default;

// success
$btn-success-color: #fff!default;
$btn-success-bgc: #8BB73E!default;
$btn-success-border-color: $btn-success-bgc!default;

// warning
$btn-warning-color: #fff!default;
$btn-warning-bgc: #f7ba2a!default;
$btn-warning-border-color: $btn-warning-bgc!default;

// text
$btn-text-color: #6668D3!default;

// disabled
$btn-disabled-color: rgba(0, 0, 0, .25)!default;
$btn-disabled-bgc: #f7f7f7!default;
$btn-disabled-border-color: #EDEDED!default;

// loading
$btn-loading-opacity: .75!default;
