// base
$input-border-color: #d9d9d9!default;
$input-border-width: 1px!default;
$input-hover-border-color: #108ee9!default;
$input-radius: 3px!default;

// icon color
$input-icon-color: #8b8c9b!default;
$input-icon-focus-color: #55575C!default;

// disabled
$input-disabled-color: #bbb!default;
$input-disabled-bgc: #eef1f6!default;
$input-disabled-border-color: #d1dbe5!default;

// readonly
$input-readonly-color: currentColor!default;
$input-readonly-bgc: $input-disabled-bgc!default;
$input-readonly-border-color: $input-disabled-border-color!default;

// invalid
$input-invalid-color: currentColor!default;
$input-invalid-border-color: #f46e65!default;

// size
// default
$input-font-size: 14px!default;
$input-size: 34px!default;
$input-padding-vertical: 0px!default;
$input-padding-horizontal: 8px!default;
// xs
$input-xs-font-size: 12px!default;
$input-xs-size: 20px!default;
$input-xs-padding-horizontal: $input-padding-horizontal!default;
// sm
$input-sm-font-size: 12px!default;
$input-sm-size: 28px!default;
$input-sm-padding-horizontal: $input-padding-horizontal!default;
// lg
$input-lg-font-size: 14px!default;
$input-lg-size: 40px!default;
$input-lg-padding-horizontal: $input-padding-horizontal!default;
