$toggle-size: 26px!default;

$toggle-dot-color: #fff!default;
$toggle-dot-padding: 4px!default;
$toggle-dot-size: $toggle-size - 2*$toggle-dot-padding!default;

$toggle-label-color: #fff!default;
$toggle-label-font-size: 14px!default;
$toggle-label-padding: 8px!default;

$toggle-on-bgc: #55575c!default;
$toggle-off-bgc: #c3c8ce!default;

// sm
$toggle-sm-size: 22px!default;
$toggle-sm-dot-padding: 3px!default;
$toggle-sm-dot-size: $toggle-sm-size - 2*$toggle-sm-dot-padding!default;
$toggle-sm-label-font-size: 12px!default;
$toggle-sm-label-padding: 4px!default;

// disabled
$toggle-disabled-bgc: #f4f4f4!default;
$toggle-disabled-dot-color: #d1dbe5!default;
$toggle-disabled-label-color: #c3c8ce!default;
