@import 'variables';

.step{
  position: relative;
  min-height: $build-guide-thumbnail-height + $build-guide-step-padding-bottom;
  padding-bottom: $build-guide-step-padding-bottom;

  // 空出 thumbnail
  margin-left: $build-guide-step-margin-left;
  // 空出 number
  padding-left: $build-guide-step-number-size/2 + $build-guide-step-padding-vertical;

  &:not(:last-child) {
    border-left: $build-guide-step-divider-width solid $build-guide-step-divider-color;
  }
}

.thumbnail{
  position: absolute;
  top: 0px;
  left: -$build-guide-step-margin-left - $build-guide-step-divider-width;

  width: $build-guide-thumbnail-width;
  height: $build-guide-thumbnail-height;

  background-color: #E8EAEC;
  border-radius: $build-guide-thumbnail-border-radius;
}

.number{
  position: absolute;
  top: 0px;
  left: -$build-guide-step-number-left-abs-offset;
  text-align: center;
  border-radius: 50%;

  width: $build-guide-step-number-size;
  height: $build-guide-step-number-size;
  line-height: $build-guide-step-number-size;
  display: inline-block;
  font-size: $build-guide-step-number-font-szie;
  font-weight: $build-guide-step-number-font-weight;
  background-color: $build-guide-step-number-bg;
  color: $build-guide-step-number-color;
}
.title{
  line-height: $build-guide-step-number-size;
}


// @media screen and (max-width: $screen-tablet) {
//   .steps{
//     margin-left: $build-guide-step-number-size/2;
//   }
//   .step{
//     // position: static;
//     margin-left: 0;
//     // padding-left: 0;
//   }
//   .thumbnail{
//     position: static;
//     display: block;
//     // width: 520px;
//     // width: 100%;
//     // height: auto;
//   }
// }