@import 'variables/colors';

.labels{
  display: inline-flex;
  align-items: center;
  list-style: none;
  font-size: 12px;
}
.label{
  padding: 5px 10px;
  background-color: $color-black;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  &:global(.active) {
    background-color: $color-primary;
  }
}
