.dashed{
  border: 2px dashed #55575c;
  border-radius: 3px;
  padding: 10px 20px 10px 10px;
  line-height: (20px - 2*1px);
  min-width: 100px;
  position: relative;
  background-color: #fff;
}
.close{
  position: absolute;
  right: 0px;
  color: #a2a8b1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
