@import 'variables/base';
.list{
  // margin-bottom: 20px;
}
.item{
  display: flex;
  margin-bottom: 5px;
}
.remove{
  flex: 0 0 auto;
  color: $color-danger;
  &:hover{
    background-color: $color-danger;
    color: #fff;
  }
}
