@import 'variables/base';

.panel{
  margin-bottom: 5px;
}

.fileInput{
  margin-bottom: 5px;
}
.group{
  display: flex;
}

.remove{
  flex: 0 0 auto;
  color: $color-danger;
  &:hover{
    background-color: $color-danger;
    color: #fff;
  }
}
