@import 'variables';

$height: 50px;

.navbar{
  display: flex;
  align-items: stretch;
  line-height: $height;
  border-bottom: 4px solid $color-black;
  font-weight: bold;
  font-size: $font-size-large;
}

.nav{
  color: $color-muted;
  padding: 0px 3*$padding-base-horizontal;
  position: relative;
  height: 100%;
  display: block;
  &:after{
    content: " ";
    width: 4px;
    background-color: $color-black;
    height: 0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 2px);
    transition: height .15s ease-in-out;
  }
  &:global(.active), &:hover {
    color: $color-black;
    &:after{
      height: 8px;
    }
  }

}