@import 'variables';
.navbar{
  margin: 0;
  padding: 0;
  font-weight: bold;
  >li{
    &:not(:last-child) {
      border-bottom: 1px solid $color-hr;
    }
  }
}
.nav{
  line-height: 50px;
  color: $color-black;
  display: flex;
  align-item: center;
  &:hover, &:focus{
    background-color: #EEF0F3;
    color: currentColor;
  }
}
.icon{
  flex: 0 0 50px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
}
.active, .active:hover, .active:focus{
  position: relative;
  background-color: $color-black;
  color: #fff;
  &:after{
    content: ' ';
    display: inline-block;
    border-left: 6px solid #fff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: 15px;
    top: (50px - 5px*2) / 2;
  }
}
