@import 'variables/views/create';

.thumnail{
  display: flex;
  align-items: center;
  color: $create-flow-well-color;
  padding: $create-flow-well-vertical-padding 0;
}
.icon{
  flex: 0 0 75px; // same to well.icon
  text-align: center;
  font-size: 0;
  >i{
    font-size: $create-flow-well-icon-size;
  }
}

.wrapper{
  flex: 1 1 auto;
}
