{
  "extends": [
    "../.eslintrc",
    "standard-react"
  ],
  "plugins": [
    "react",
  ],
  "env": {
    "browser" : true
  },
  "rules": {
    "jsx-quotes"           : [2, "prefer-single"]
  }
}
