<!doctype html>
<html lang="zh-cn">
<head>
  <title>flow.ci</title>
  <meta charset="utf-8">
  <meta name='version' content="<%= htmlWebpackPlugin.options.version %>" />
  <meta http-equiv="last-modified" content="<%= htmlWebpackPlugin.options.last_modify %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 360 选择渲染引擎 -->
  <meta name="renderer" content="webkit" />
  <script type='text/javascript'>
    window.FLOWCI = {
      $endPoint: <%= htmlWebpackPlugin.options.api %>
    }
  </script>
</head>
<body>
  <div id="root" style="height: 100%"></div>
</body>
</html>
