<!doctype html>
<html lang="en">
<head>
  <title>flowci web</title>
  <meta charset="utf-8">
  <meta name='version' content="<%= htmlWebpackPlugin.options.version %>" />
  <meta http-equiv="last-modified" content="<%= htmlWebpackPlugin.options.last_modify %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/cac9c66de9/UntitledProject/style.css">
</head>
<body>
  <div id="root" style="height: 100%"></div>
</body>
</html>
