@import '../_colors.scss';

// default color
$job-color-default: $color-primary!default;

$job-color-success: $color-success!default;
$job-color-failure: $color-danger!default;
$job-color-stopped: $color-muted!default;
