@import 'variables.scss';

@mixin button-size ($size, $font-size) {
  width: $size;
  height: $size;
  font-size: $font-size;
}
.btn {
  padding: 0;
  @include button-size($control-base-size, $font-size-base);
  &:global(.btn-sm) {
    @include button-size($control-sm-size, $font-size-small);
  }
  &:global(.btn-lg) {
    @include button-size($control-lg-size, $font-size-large);
  }
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
