@import 'variables.scss';

@mixin button-size ($size) {
  width: $size;
  height: $size;
  font-size: $size;
}
.btn {
  padding: 0;
  border: none;
  @include button-size($control-base-size);
  &:global(.btn-sm) {
    @include button-size($control-sm-size);
  }
  &:global(.btn-lg) {
    @include button-size($control-lg-size);
  }
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
