@import 'variables/colors';
.table{
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.header{
  border-bottom: 1px solid $color-hr;
  >th{
    padding: 10px;
  }
}
.item{
  border-bottom: 1px solid $color-hr;
  &:hover{
    background-color: $color-hover-bg;
  }
  >td{
    padding: 10px;
  }
}
.name{
  width: 1%;
  white-space: nowrap;
}
.value{

}
