@import 'variables';

.wrapper{
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  >span{
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.copy{
  flex: 0 0 auto;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  color: $admin-flows-list-copy-color;
  font-weight: inherit;
  height: ($admin-item-height - 2*$admin-item-vertical-padding);
  line-height: ($admin-item-height - 2*$admin-item-vertical-padding);
  &:hover{
    color: darken($admin-flows-list-copy-color, 10%);
  }
}
