@import 'variables';
.container{
  padding: $layout-padding-vertical $layout-padding-horizontal;
}
.absBottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.content{
  font-size: $footer-font-size;
  color: $footer-default-color;

  // min-height: $footer-height;
  line-height: $footer-line-height;
  padding: $footer-padding;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: $screen-phone) {
    padding: $footer-xs-padding;
  }
}

.navs{
  display: flex;
  align-items: center;
  margin-right: $footer-divier-padding;
  @media screen and (max-width: $screen-phone) {
    margin-right: $footer-xs-divier-padding;
  }
  >li:not(:last-child){
    &:after{
      content: '|';
      margin: 0 $footer-divier-padding;
      @media screen and (max-width: $screen-phone) {
        margin: 0 $footer-xs-divier-padding;
      }
    }
  }
}
.navItem{
  color: $text-color;
}
