.full-height {
  height: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.top-border {
  border-top: 1px solid #e1e4e8
}

.bottom-border {
  border-bottom: 1px solid #e1e4e8
}

.bottom-border-large {
  border-bottom: 3px solid #BDBDBD
}

.left-border {
  border-left: 1px solid #e1e4e8
}

.error-message {
  background-color: #FFEBEE;
  color: #EF5350;
}

.info-message {
  background-color: #E1F5FE;
  color: #0277BD;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

.no-padding {
  padding: 0 !important;
}

.loading-anim {
  animation: loader 1s infinite;
  display: flex;
}

.v-subheader-thin {
  padding: 0;
  height: auto !important;
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
