@font-face {
  font-family: 'flowci';
  src:  url('fonts/flowci.eot?pcof1k');
  src:  url('fonts/flowci.eot?pcof1k#iefix') format('embedded-opentype'),
  url('fonts/flowci.ttf?pcof1k') format('truetype'),
  url('fonts/flowci.woff?pcof1k') format('woff'),
  url('fonts/flowci.svg?pcof1k#flowci') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="flow-icon-"], [class*=" flow-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flowci' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flow-icon-terminal:before {
  content: "\e900";
}
.flow-icon-tag:before {
  content: "\e901";
}
.flow-icon-git-pull-request:before {
  content: "\e90f";
}
.flow-icon-git-merge:before {
  content: "\e926";
}
.flow-icon-git-compare:before {
  content: "\e928";
}
.flow-icon-git-commit:before {
  content: "\e929";
}
.flow-icon-git-branch:before {
  content: "\e92a";
}
.flow-icon-clock:before {
  content: "\e92b";
}
.flow-icon-go:before {
  content: "\e921";
  color: #76e1fe;
}
.flow-icon-python:before {
  content: "\e922";
  color: #3776ab;
}
.flow-icon-java:before {
  content: "\e923";
  color: #007396;
}
.flow-icon-add_circle:before {
  content: "\e147";
}
.flow-icon-arrow-left:before {
  content: "\e314";
}
.flow-icon-control_point:before {
  content: "\e3ba";
}
.flow-icon-caretdown:before {
  content: "\e606";
}
.flow-icon-loading:before {
  content: "\e64d";
}
.flow-icon-loading1:before {
  content: "\e6ae";
}
.flow-icon-checkbox-checked:before {
  content: "\e834";
}
.flow-icon-checkbox-unchecked:before {
  content: "\e835";
}
.flow-icon-radio-unchecked:before {
  content: "\e837";
}
.flow-icon-radio-checked:before {
  content: "\e838";
}
.flow-icon-key:before {
  content: "\e902";
}
.flow-icon-user:before {
  content: "\e903";
}
.flow-icon-agents:before {
  content: "\e904";
}
.flow-icon-branches:before {
  content: "\e905";
}
.flow-icon-check:before {
  content: "\e906";
}
.flow-icon-drag:before {
  content: "\e907";
}
.flow-icon-pencil:before {
  content: "\e908";
}
.flow-icon-logo:before {
  content: "\e909";
}
.flow-icon-checkbox-indeterminate:before {
  content: "\e90a";
}
.flow-icon-settings:before {
  content: "\e90b";
}
.flow-icon-logout:before {
  content: "\e90c";
}
.flow-icon-search:before {
  content: "\e90d";
}
.flow-icon-equalizer:before {
  content: "\e90e";
}
.flow-icon-layergroup:before {
  content: "\e910";
}
.flow-icon-off:before {
  content: "\e911";
}
.flow-icon-search2:before {
  content: "\e912";
}
.flow-icon-code:before {
  content: "\e913";
}
.flow-icon-plus-sm:before {
  content: "\e914";
}
.flow-icon-question-thin:before {
  content: "\e915";
}
.flow-icon-warning:before {
  content: "\e916";
}
.flow-icon-bookmark:before {
  content: "\e917";
}
.flow-icon-jigsaw:before {
  content: "\e918";
}
.flow-icon-notification:before {
  content: "\e919";
}
.flow-icon-users:before {
  content: "\e91a";
}
.flow-icon-timeout:before {
  content: "\e91b";
}
.flow-icon-social-github:before {
  content: "\e91c";
}
.flow-icon-trash:before {
  content: "\e91d";
}
.flow-icon-question:before {
  content: "\e91e";
}
.flow-icon-pending:before {
  content: "\e925";
}
.flow-icon-circle-check:before {
  content: "\e934";
}
.flow-icon-stopped:before {
  content: "\e93a";
}
.flow-icon-failure:before {
  content: "\e947";
}
.flow-icon-running:before {
  content: "\e949";
}
.flow-icon-cross:before {
  content: "\ea0f";
}
.flow-icon-file_copy:before {
  content: "\e927";
}
.flow-icon-github:before {
  content: "\eab0";
}
.flow-icon-android:before {
  content: "\eac0";
}
.flow-icon-appleinc:before {
  content: "\eabe";
}
.flow-icon-windows8:before {
  content: "\eac2";
}
.flow-icon-smile:before {
  content: "\e9e1";
}
.flow-icon-tongue:before {
  content: "\e9e3";
}
.flow-icon-sad:before {
  content: "\e9e5";
}
.flow-icon-wink:before {
  content: "\e9e7";
}
.flow-icon-grin:before {
  content: "\e9e9";
}
.flow-icon-cool:before {
  content: "\e9eb";
}
.flow-icon-angry:before {
  content: "\e9ed";
}
.flow-icon-shocked:before {
  content: "\e9f1";
}
.flow-icon-baffled:before {
  content: "\e9f3";
}
.flow-icon-confused:before {
  content: "\e9f5";
}
.flow-icon-neutral:before {
  content: "\e9f7";
}
.flow-icon-hipster:before {
  content: "\e9f9";
}
.flow-icon-wondering:before {
  content: "\e9fb";
}
.flow-icon-sleepy:before {
  content: "\e9fd";
}
.flow-icon-frustrated:before {
  content: "\e9ff";
}
.flow-icon-crying:before {
  content: "\ea01";
}
.flow-icon-linux:before {
  content: "\e924";
}
.flow-icon-download:before {
  content: "\e920";
}
.flow-icon-message:before {
  content: "\e91f";
}
