$icomoon-font-family: "flowci" !default;
$icomoon-font-path: "fonts" !default;

$flow-icon-message: "\e927";
$flow-icon-calendar: "\e926";
$flow-icon-git-branch: "\e900";
$flow-icon-git-commit: "\e91f";
$flow-icon-git-compare: "\e920";
$flow-icon-git-merge: "\e921";
$flow-icon-git-pull-request: "\e922";
$flow-icon-repo-forked: "\e923";
$flow-icon-repo-push: "\e924";
$flow-icon-tag: "\e925";
$flow-icon-add_circle: "\e147";
$flow-icon-arrow-left: "\e314";
$flow-icon-control_point: "\e3ba";
$flow-icon-caretdown: "\e606";
$flow-icon-loading: "\e64d";
$flow-icon-loading1: "\e6ae";
$flow-icon-checkbox-checked: "\e834";
$flow-icon-checkbox-unchecked: "\e835";
$flow-icon-radio-unchecked: "\e837";
$flow-icon-radio-checked: "\e838";
$flow-icon-key: "\e901";
$flow-icon-user: "\e902";
$flow-icon-agents: "\e903";
$flow-icon-branches: "\e904";
$flow-icon-check: "\e905";
$flow-icon-drag: "\e906";
$flow-icon-pencil: "\e907";
$flow-icon-logo: "\e908";
$flow-icon-checkbox-indeterminate: "\e909";
$flow-icon-settings: "\e90a";
$flow-icon-logout: "\e90b";
$flow-icon-search: "\e90c";
$flow-icon-equalizer: "\e90d";
$flow-icon-git-branch1: "\e90e";
$flow-icon-layergroup: "\e90f";
$flow-icon-off: "\e910";
$flow-icon-search2: "\e911";
$flow-icon-code: "\e912";
$flow-icon-plus-sm: "\e913";
$flow-icon-question-thin: "\e914";
$flow-icon-warning: "\e915";
$flow-icon-bookmark: "\e916";
$flow-icon-jigsaw: "\e917";
$flow-icon-notification: "\e918";
$flow-icon-users: "\e919";
$flow-icon-timeout: "\e91a";
$flow-icon-social-github: "\e91b";
$flow-icon-trash: "\e91c";
$flow-icon-question: "\e91d";
$flow-icon-pending: "\e91e";
$flow-icon-circle-check: "\e934";
$flow-icon-stopped: "\e93a";
$flow-icon-failure: "\e947";
$flow-icon-running: "\e949";
$flow-icon-cross: "\ea0f";
$flow-icon-stopwatch: "\e952";

