@import 'variables/colors';
@import 'variables/modules/node';

@mixin header-color ($color) {
  .icon{
    color: $color;
  }
  &.expended, &:hover{
    background-color: $color;
    color: #fff;
    .icon{
      color: #fff;
    }
  }
}

.header{
  line-height: 50px;
  color: $color-black;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  cursor: pointer;
  // border-bottom: 1px solid $color-hr;
}
.disabled{
  cursor: default;
  color: $color-muted;
}
.icon{
  margin-right: 20px;
}

.RUNNING{
  @include header-color($node-color-running);
}
.SUCCESS{
  @include header-color($node-color-success);
}
.STOPPED{
  cursor: not-allowed;
}
.FAILURE{
  @include header-color($node-color-failure);
}
.TIMEOUT{
  @include header-color($node-color-timeout);
}
