@import 'variables';

.content{
  // height: $navbar-height;
  line-height: $navbar-height;

  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $screen-phone) {
    line-height: $navbar-phone-height;
  }
}

.unauthored{
  justify-content: flex-end;
}

.backButton{
  flex: 0 0 100px;
  width: 100px;
  font-size: $font-size-large;
  font-weight: $navbar-font-weight;
  border-right: 1px solid $navbar-default-border;
}
.back{
  display: flex;
  align-items: center;
  padding: $navbar-brand-padding-vertical $navbar-brand-padding-horizontal;
  >:global(.icon){
    margin-right: $padding-base-horizontal;;
  }
}
.navs{
  flex: 0 0 auto;
  font-size: 20px;
  display: inline-flex;
  >li{
    border-left: 1px solid $navbar-default-border;
    >div{
      height: $navbar-height;
      width: $navbar-height;
      >a{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media screen and (max-width: $screen-phone) {
        height: $navbar-phone-height;
        width: $navbar-phone-height;
      }
    }
  }
}