@import 'variables';

.popover{
  position: absolute;
  top: $navbar-height + 1px; // show navbar border-bottom;

  background-color: $navbar-dropmenu-bg;
  box-shadow: $navbar-dropmenu-boxshadow;

  &:before{
    content: ' ';
    display: inline-block;
    border: $navbar-dropmenu-arrow solid transparent;
    border-top: none;
    border-bottom-color: $navbar-dropmenu-bg;
    position: absolute;
    top: -$navbar-dropmenu-arrow;
    right: ($navbar-height - 2*$navbar-dropmenu-arrow) / 2;
  }
}