@import 'variables/views/Admin/flows';
.toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $admin-toolbar-vertical-padding;
}
.search{
  border-color: #D7D9DC;
  width: 300px;
  // font-size: 12px;
  :global(.icon) {
    color: #8B8C9B;
  }
  &:global(.focus){
    :global(.icon){
      color: $color-black;
    }
  }
}

.scroller{
  overflow: auto;
}
.flows{
  min-width: 700px;
}
.name{
  width: 20%;
}
.author{
  width: 100px;
}
.createTime{
  width: 100px;
}
.webhook{
  // width: 40%;
}
.webhookWrapper{
  display: flex;
  overflow: hidden;
  >span{
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.copy{
  flex: 0 0 auto;
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  color: $admin-flows-list-copy-color;
  font-weight: inherit;
  height: ($admin-item-height - 2*$admin-item-vertical-padding);
  line-height: ($admin-item-height - 2*$admin-item-vertical-padding);
  &:hover{
    color: darken($admin-flows-list-copy-color, 10%);
  }
}
.deploy{
  width: 20%;
}
