@import 'variables';
.icon{
  border-radius: $border-radius-base;
  width: 28px;
  height: 16px;
  border: 2px solid;

  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.OFF{
  color: $color-black;
}
.IDLE{
  color: #FFC854;
}
.RUNNING{
  color: $color-success;
}

.line{
  width: 12px;
  height: 2px;
  display: inline-block;
  font-size: 0;
  background-color: currentColor;
}

@function delay($interval, $count, $index) {
  @return $interval * ($index - $count);
  // @return ($index * $interval) - ($interval * $count);
}

@mixin dot($n:3, $start:0) {
  @for $i from $start through $n {
    > i:nth-child(#{$i}) {
      animation: scale 1s delay(0.2s, $n, $i) infinite steps(1);
    }
  }
}

.dots{
  display: flex;
  align-items: center;
  justify-content: center;

  >i{
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: currentColor;
    margin: 1px;
    &:nth-child(1) {
      animation: scale 2s infinite steps(1);
    }
    &:nth-child(2) {
      animation: scale2 2s infinite steps(1);
    }
    &:nth-child(3) {
      animation: scale3 2s infinite steps(1);
    }
  }
  // @include dot();
}


@keyframes scale {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1);
  }

  100%{
    transform: scale(0);
  }
}
@keyframes scale2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100%{
    transform: scale(0);
  }
}
@keyframes scale3 {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1);
  }

  100%{
    transform: scale(0);
  }
}


