@import 'variables/views/buildGuide';

.list{
  margin: 0;
}
.item{
  position: relative;
  padding-left: 16px; // header font-size
  &:before{
    position: absolute;
    content: ' ';
    top: 5px;
    left: 2px;
    display: inline-block;
    border-radius: 50%;
    width: $build-guide-list-disc-size;
    height: $build-guide-list-disc-size;
    background-color: $build-guide-list-disc-bg;
  }
}
